/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 11:54:05 PM
    Author     : Chathura Buddhika
*/

.main-wrapper{
    width: 50%;
    height: 100%;
    margin: 1% 25% 0px 25%;
}
.txt-cntr{
    text-align: center;
}
section{
    margin-top: 70px !important;
}